## SAS development programs
## =======================================
nnalCumRoc3_DEV_CALL.sas
corkCumRoc3_DEV_CALL.sas

## Demo data CSV files
## =======================================
data/nnal/nhanes_SI3.csv
data/cork/cork_SI2.csv

## SAS data files
## =======================================
*.SAS7BDAT

## Output files
## =======================================
output/
*.PNG
*.TXT
*.RTF
*.DOCX
*.PDF
*.XLSX
*.HTM*
*.MHT
*.LST

## UltraEdit [Studio]
## =======================================
*.BAK

## LaTex
## =======================================
*.LOG
*.AUX
*.OUT
*.SYNCTEX.GZ
*.BLG
*.BBL
*.FDB_LATEXMK
*.FLS
## From TeX.gitignore: Core latex/pdflatex auxiliary files
*.LOF
*.LOT
*.TOC
*.FMT
*.FOT
*.CB
*.CB2
