## Utility files
## =======================================
*.ZIP

## SAS development programs
## =======================================
nnalCumRoc3_DEV_CALL.sas
corkCumRoc3_DEV_CALL.sas

## Demo data CSV files
## =======================================
data/nnal/nhanes_SI3.csv
data/cork/cork_SI2.csv

## SAS data SAS7BDAT and format files SAS7BCAT
## =======================================
*.SAS7*

## Output files
## =======================================
output/
*.TXT
*.RTF
*.DOC*
*.PDF
*.XLS*
*.HTM*
*.MHT
*.LST

## Image files
## =======================================
images/
*.JPG
*.PNG
*.TIF*
*.PS
*.EPS

## LaTex
## =======================================
*.LOG
*.AUX
*.OUT
*.SYNCTEX.GZ
*.BLG
*.BBL
*.FDB_LATEXMK
*.FLS
## From TeX.gitignore: Core latex/pdflatex auxiliary files
*.LOF
*.LOT
*.TOC
*.FMT
*.FOT
*.CB
*.CB2

## BiTex
## =======================================
*.BIB

## UltraEdit [Studio]
## =======================================
*.BAK
